<main layout="column">
	<header id="site-header" class="section section-1" layout="column">
		<div class="container" layout="column">
			<div class="row" layout="column" layout-align="center center">
				<div class="logo-container" layout="row" layout-align="center">
					<img src="img/wifi-tv-logo.png" alt="Logo">					
				</div>
				<div class="title" layout="row" layout-align="center">
					<h1>Usługa <span class="bolder">WiFi-TV</span>, telewizja wszędzie<br>na komputerze, tablecie, smartphonie.</h1>
				</div>
			</div>
			<div class="row desc-container" layout="row" layout-align="center">
				<h3 class="desc">System dystrybucji treści audiowizualnych na urządzenia mobilne.</h3>
			</div>
			<div class="row" layout="row" layout-align="center">
				<div ng-click="ScrollSite('site-oferta')" class="wifi-button-container cursor-pointer">S P R A W D Ź</div>
			</div>
		</div>
	</header>
	<section id="site-oferta" class="section section-2" layout="row">
		<div class="container" layout="column">
			<div class="container" layout="column">
				<div class="row" layout="row">
					<h2>System dystrybucji treści audiowizualnych na urządzenia mobilne</h2>
				</div>
				<div class="row" layout="row">
					<divider></divider>			
				</div>
			</div>
			<div class="row" layout="row" layout-wrap>
				<div class="container" layout="column" flex="100" flex-gt-sm="50">
					<p>Dynamiczny przyrost liczby Użytkowników korzystających z urządzeń mobilnych jak smartfony, tablety, laptopy itp. stworzył na rynku nowy silnie rosnący trend, polegający na chęci odbioru różnorodnych treści multimedialnych właśnie na tych urządzeniach. Rynek urządzeń mobilnych cechuje się jednak innymi oczekiwaniami w odbiorze treści multimedialnych niż rynek stacjonarnych sieci telekomunikacyjnych jak DVB-T, CATV, IPTV itp. Odpowiadając na to wyzwanie, przygotowaliśmy specjalnie opracowany system dystrybucji treści audiowizualnych na urządzenia mobilne, obejmujący w szczególności programy TV, prezentacje multimedialne, podgląd z kamer i inne podobne sygnały AV.</p>
				</div>
				<div class="container responsive-image-container" layout="column" flex="100" flex-gt-sm="50">
					<img class="responsive-image" src="img/diomar_tv_1.jpg" alt="Diomar TV Mobilna">
				</div>
			</div>
		</div>
	</section>		
</main>
